
.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.container_item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

.content_title {
    font-size: 2em;
    font-weight: 700;
}

.content_icon i {
    font-size: 2em;
    color: Tomato;
}

.content_body {
    display:flex;
    justify-content: center;
}

.content_body img {
    width: 50%;
}

.container_item {
    transition: all 1s ease;
}

.container_item .content_body {
    display: none;
}


.container:hover .container_item:first-child .content_icon .icon_close {
    display: block;
}

.container:hover .container_item:not(:first-child) .content_icon .icon_show {
    display: block;
} 


.container_item .content_head .content_icon .icon_show,
.container_item .content_head .content_icon .icon_close {
    display: none;
}

/* .container_item:first-child .content_body {
    display: block;
} */


.container_item:first-child:hover .content_body,
.container_item:nth-child(2):hover .content_body,
.container_item:nth-child(3):hover .content_body,
.container_item:nth-child(4):hover .content_body,
.container_item:last-child:hover .content_body {
    display: block;
}

.container_item:first-child:hover .content_head .content_icon .icon_close,
.container_item:nth-child(2):hover .content_head .content_icon .icon_close,
.container_item:nth-child(3):hover .content_head .content_icon .icon_close,
.container_item:nth-child(4):hover .content_head .content_icon .icon_close,
.container_item:last-child:hover .content_head .content_icon .icon_close {
    display: block;
}

.container_item:first-child:hover .content_head .content_icon .icon_show,
.container_item:nth-child(2):hover .content_head .content_icon .icon_show,
.container_item:nth-child(3):hover .content_head .content_icon .icon_show,
.container_item:nth-child(4):hover .content_head .content_icon .icon_show,
.container_item:last-child:hover .content_head .content_icon .icon_show {
    display: none;
}

.container_item.expanded .content_body {
    display: block;
}


